<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--add key="spUser" value="jarden@akuminadev02.onmicrosoft.com" />
    <add key="spPassword" value="@kumina603..." />
    <add key="spUrl" value="https://akuminadev02.sharepoint.com/sites/4017110605ICRelease" /-->
    <!-- export options
    <add key="baseSiteUrl" value="https://akuminademo.sharepoint.com/sites/dwptrial100,/sites/dwptrial100" />
    <add key="exportLists" value="CompanyNews_AK" />
    -->
    <add key="deleteLists" value="" />
    <!-- used for 'diagnostic steps only' start -->
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="AppManagerUrl" value="" />
    <add key="SPHostUrl" value="" />
    <add key="SPLanguage" value="en-US" />
    <add key="SPClientTag" value="0" />
    <add key="SPProductNumber" value="16.0.7827.1210" />
    <add key="SPAppToken" value="" />
    <add key="SPSiteUrl" value="" />
    <add key="SPSiteTitle" value="" />
    <add key="SPSiteLogoUrl" value="" />
    <add key="SPSiteLanguage" value="en-US" />
    <add key="SPSiteCulture" value="en-US" />
    <add key="SPRedirectMessage" value="EndpointAuthorityMatches" />
    <add key="SPCorrelationId" value="" />
    <add key="SPErrorCorrelationId" value="" />
    <add key="SPErrorInfo:" value="" />
    <!-- used for 'diagnostic steps only' end -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.0" newVersion="8.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.1.30601" newVersion="3.17.1.30601" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>