<unity>
  <assembly name="Akumina.Common" />
  <assembly name="Akumina.Interchange.Core" />
  <assembly name="Akumina.Interchange.Services" />
  <assembly name="Akumina.Caching" />

  <namespace name="Akumina.Common.Interfaces"/>
  <namespace name="Akumina.Common.Interfaces.Repository"/>
  <namespace name="Akumina.Interchange.Core" />
  <namespace name="Akumina.Interchange.Core.Domain" />
  <namespace name="Akumina.Interchange.Core.Entities"/>
  <namespace name="Akumina.Interchange.Core.Entities.Collaboration" />
  <namespace name="Akumina.Interchange.Core.Interfaces" />
  <namespace name="Akumina.Interchange.Core.Interfaces.Repository" />
  <namespace name="Akumina.Interchange.Core.Factory" />
  <namespace name="Akumina.Interchange.Services" />
  <namespace name="Akumina.Interchange.Services.OAuth2"/>
  <namespace name="Akumina.Interchange.Services.Repository" />
  <namespace name="Akumina.Interchange.Services.Storage" />
  <namespace name="Akumina.Caching" />
  <namespace name="Akumina.Caching.Redis" />

  <container name="core">
    <register type="ILoginService" mapTo="LoginService" />
    <register type="IConfigurationService" mapTo="HarnessConfigurationService" />
    <register type="ICollaborationService" mapTo="CollaborationService" />
    <register type="IAppService" mapTo="AppService" />
    <register type="IActionService" mapTo="ActionService" />
    <register type="IAppRepository" mapTo="AppSpRepository" />
    <register type="ISecurityService" mapTo="SecurityService" />
    <register type="ISearchService" mapTo="SearchService" />
    <register type="IDecisionService" mapTo="DecisionService" />
    <register type="IContentTypeService" mapTo="ContentTypeService" />
    <register type="IUserService" mapTo="UserService" />
    <register type="ITermStoreService" mapTo="TermStoreService" />
    <register type="IInstructionService" mapTo="InstructionService" />
    <register type="IFormService" mapTo="FormService" />
    <register type="IMachineTranslatorService" mapTo="MachineTranslatorService" />
    <register type="IConnectorService" mapTo="ConnectorService" />
    <register type="IExclusionLibraryService" mapTo="ExclusionLibraryService" />
    <register type="ILandingConfigurationService" mapTo="LandingConfigurationService" />
    <register type="IWorkflowService" mapTo="Workflow4Service" />
    <register type="IRepository[Comment]" mapTo="CommentSpRepository" />
    <register type="IContentAppTypeService" mapTo="ContentAppTypeService" />
    <register type="IManagementAppTypeService" mapTo="ManagementAppTypeService" />
    <register type="IPeopleDirectoryUserFetcher" mapTo="PeopleDirectoryUserFetcherServiceSP" />
    <register type="IPeopleDirectoryUserProcessor" mapTo="PeopleDirectoryUserProcessorService" />
    <register type="IPeopleDirectoryUserStorageHandler" mapTo="PeopleDirectoryStorageHandlerServiceAD" />
    <register type="IInterChangeFactory" mapTo="InterChangeFactory">
      <constructor>
        <param name="loginService" type="ILoginService"/>
        <param name="userService" type="IUserService"/>
        <param name="configurationService" type="IConfigurationService"/>
        <param name="collaborationService" type="ICollaborationService"/>
        <param name="appService" type="IAppService"/>
        <param name="actionService" type="IActionService"/>
        <param name="securityService" type="ISecurityService"/>
        <param name="searchService" type="ISearchService"/>
        <param name="decisionService" type="IDecisionService"/>
        <param name="contentTypeService" type="IContentTypeService"/>
        <param name="termStoreService" type="ITermStoreService"/>
        <param name="instructionService" type="IInstructionService"/>
        <param name="formService" type="IFormService"/>
        <param name="machineTranslatorService" type="IMachineTranslatorService"/>
        <param name="connectorService" type="IConnectorService"/>
        <param name="workflowService" type="IWorkflowService"/>
        <param name="exclusionLibraryService" type="IExclusionLibraryService"/>
        <param name="landingConfigurationService" type="ILandingConfigurationService"/>
        <param name="contentAppTypeService" type="IContentAppTypeService"/>
        <param name="managementAppTypeService" type="IManagementAppTypeService"/>
      </constructor>
    </register>
    <register type="IPeopleDirectoryFactory" mapTo="PeopleDirectoryFactory">
      <constructor>
        <param name="fetcher" type="IPeopleDirectoryUserFetcher"/>
        <param name="processor" type="IPeopleDirectoryUserProcessor"/>
        <param name="storageHandler" type="IPeopleDirectoryUserStorageHandler"/>
      </constructor>
    </register>
    <register type="IContentAppService" mapTo="ContentAppService" />
    <register type="ICentralAdmin" mapTo="CentralAdmin" />
    <register type="ICryptoService" mapTo="AesCryptoService" />
    <register type="IRepository[UserToken]" mapTo="AzureTableTokenStore" />
  </container>
  <container name="file">
    <!--Setting to NtFileService will read/write data using File.IO APIs; you only need to test if not using AAD-->
    <!--register type="IFileService" mapTo="NtFileService" /-->
    <register type="IFileService" mapTo="AzureBlobService" />
  </container>
  <container name="dss">
    <register type="IDssConfig" mapTo="DssConfigFile" />
    <!--<register type="IDssConfig" mapTo="DssConfigSpList" />-->
  </container>
  <container name="caching">
    <register type="ICachingService" mapTo="MemoryCachingService" />
    <!--<register type="ICachingService" mapTo="RedisCachingService" />-->
  </container>
</unity>