
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Page Not Found</h2>
<p>
    You most likely started the debugger pointing to a view inside your area, by default the Scaffolding framework re-writes your route to use / for your area to be compabile with Interchange.
</p>
<p>
    Try requesting <a href="/">This Page</a>
</p>

