<unity.caching>
  <assembly name="Akumina.Caching" />
  <namespace name="Akumina.Caching" />
  <container>
    <register type="ICachingService" mapTo="WebCachingService" />
    <!--<register type="ICachingService" mapTo="MemoryCachingService" />-->
    <!--<register type="ICachingService" mapTo="RedisCachingService" />-->
  </container>
</unity.caching>