
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="ak-error-block">
    <p><strong class="ak-error-title">Error: </strong>@ViewBag.ErrorMessage</p>
</div>