
@{
    ViewBag.Title = "Authenticate";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="ak-success-block">
    <p><strong class="ak-success-title">Success: </strong>Logged In</p>
</div>
