<div class="interAction">
    <div class="ia-loading-panel ia-hide">
        <div class="ia-loader"></div>
    </div>
</div>
<div id="debug-popup" class="interAction">
</div>
<div id="widgetManager" class="interAction">
</div>
<div id="digitalWorkplaceLoading" class="ak-loading-site-modal-wrap" style="display:none;">
    <div class="ak-loading-site-modal">
        <div class="ak-loading-text">
            Loading your Digital Workplace experience
        </div>
        <div class="ak-loading-carousel">

            <div class="ak-loading-slides" style="width: 634px;">
                <ul style="width: 1902px; left: -657px;">

                    <li class="ak-slide" style="width: 634px;">
                        <div class="ak-slide-container">
                            <div class="ak-slide-phrase">
                                <div class="ak-slide-icon"><span class="fa fa-bolt"></span></div>
                                <p>
                                    See all of your recent activity and browse documents and files by interactions you've had with them.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="ak-slide" style="width: 634px;">
                        <div class="ak-slide-container">
                            <div class="ak-slide-phrase">
                                <div class="ak-slide-icon"><span class="fa fa-dashboard"></span></div>
                                <p>
                                    A personalized dashboard keeps you organized and up-to-date on information that is relevant to you.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="ak-slide" style="width: 634px;">
                        <div class="ak-slide-container">
                            <div class="ak-slide-phrase">
                                <div class="ak-slide-icon"><span class="fa fa-calendar"></span></div>
                                <p>
                                    Events from your calendar are brought into Digital Workplace for easy access and viewing.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="ak-loading-btn-bar">
                <div class="ak-loading-buttons">
                    <a id="ak-loading-prev" href="#">
                        &lt;
                    </a><a id="ak-loading-next" href="#">&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>
